@font-face {
    font-family: $fontFamilyOpenSansBold;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansRegular;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansExtraBold;
    src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansSemiBold;
    src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: $fontFamilyOpenSansItalic;
    src: url(../fonts/Open_Sans/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: $fontFamilyMullerMediumRegular;
    src: url(../fonts/Raleway/static/Raleway-Medium.ttf);
}

@font-face {
    font-family: $fontFamilyMullerExtraBoldRegular;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}